/* general styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* font face */
/* SANS_SERIF - INTER */
/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/sans-serif/inter-v18-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/sans-serif/inter-v18-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/sans-serif/inter-v18-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/sans-serif/inter-v18-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* SERIF - NOTO SERIF */
/* noto-serif-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/serif/noto-serif-v23-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-serif-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/serif/noto-serif-v23-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-serif-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/serif/noto-serif-v23-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-serif-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/serif/noto-serif-v23-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* MONOSPACE - SOURCE CODE PRO */
/* source-code-pro-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/monospace/source-code-pro-v23-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-code-pro-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/monospace/source-code-pro-v23-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-code-pro-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/monospace/source-code-pro-v23-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-code-pro-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/monospace/source-code-pro-v23-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* variables */
:root {
  --neutral-0: #FFF;
  --neutral-50: #F5F7FA;
  --neutral-100: #F3F5F8;
  --neutral-200: #E0E4EA;
  --neutral-300: #CACFD8;
  --neutral-400: #99A0AE;
  --neutral-500: #717784;
  --neutral-600: #525866;
  --neutral-700: #2B303B;
  --neutral-800: #232530;
  --neutral-900: #191B25;
  --neutral-950: #0E121B;

  --blue-50: #EBF1FF;
  --blue-500: #335CFF;
  --blue-700: #2547D0;

  --green-100: #D1FBE9;
  --green-500: #21C16B;

  --red-100: #FFD5D8;
  --red-500: #FB3748;

  --boxShadowLight: #F3F5F89d;
  --boxShadowDark: #0E11189d;

  /* surface colors */
  --bodyBackgroundColor: var(--neutral-0);
  --bannerColor: var(--neutral-100);
  --selectedSurface: var(--blue-50);
  --surfaceColorAlt1: var(--neutral-100);
  --borderColor: var(--neutral-200);
  --tagBackground: var(--neutral-200);
  --boxShadowColor: var(--boxShadowLight);

  /* text */
  --textColorMain: var(--neutral-950);
  --textColorAlt1: var(--neutral-700);
  --textColorAlt2: var(--neutral-600);
  --textColorAlt3: var(--neutral-600);
  --textColorAlt4: var(--neutral-600);
  --descriptionTextColor: var(--neutral-700);
  --editorTextColor: var(--neutral-800);

  --bodyFont: 'Inter', sans-serif, system-ui;

}

/* theme colors */
div[data-theme="dark"] {
  --bodyBackgroundColor: var(--neutral-950);
  --textColorMain: var(--neutral-0);
  --bannerColor: var(--neutral-800);
  --selectedSurface: var(--neutral-700);
  --surfaceColorAlt1: var(--neutral-600);
  --borderColor: var(--neutral-800);
  --tagBackground: var(--neutral-700);
  --textColorAlt1: var(--neutral-200);
  --textColorAlt2: var(--neutral-300);
  --textColorAlt3: var(--neutral-200);
  --textColorAlt4: var(--neutral-400);
  --descriptionTextColor: var(--neutral-300);
  --editorTextColor: var(--neutral-100);
  --boxShadowColor: var(--boxShadowDark);

  background-color: var(--bodyBackgroundColor);
  color: var(--textColorMain);
}

html {
  font-family: 'Inter', sans-serif, system-ui;
}

/* font theme */
div[data-font="sans-serif"] {
  --bodyFont: 'Inter', sans-serif, system-ui;
  font-family: var(--bodyFont);
}

div[data-font="serif"] {
  --bodyFont: 'Noto-serif', serif, system-ui;
  font-family: var(--bodyFont);
}

div[data-font="monospace"] {
  --bodyFont: 'Source Code Pro', monospace, system-ui;
  font-family: var(--bodyFont);
}

